@import "../../constants.scss";

.footer__age-limit {
  position: absolute;
  right: 25px;
  bottom: 25px;
  background-color: $color-brand;
  color: $color-gray;
  padding: 10px;
  border-radius: 50%;
  margin-right: 0;
}
