<mat-toolbar class="header">
  <mat-toolbar-row class="header__row">
    <nav class="header__nav">
      <a class="header__link" routerLink="/home">Home</a>
      <a class="header__link" routerLink="#">Issues</a>
      <a class="header__link" routerLink="#">News</a>
    </nav>

    <button class="header__menu-button" mat-button [matMenuTriggerFor]="menu" *ngIf="user">
      <span>{{user.username}}</span>
      <mat-icon class="header__dropdown-arrow" svgIcon="profile" aria-hidden="false"
        aria-label="Example thumbs up SVG icon"></mat-icon>
    </button>
    <mat-menu class="header__menu-block" #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="signOut()">Sign out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>