<mat-toolbar class="header">
  <mat-toolbar-row class="header__row">
    <nav class="header__nav">
      <a class="header__link" routerLink="/home">Home</a>
      <a class="header__link" routerLink="#">Issues</a>
      <a class="header__link" routerLink="#">News</a>
    </nav>

    <button class="header__menu-button" mat-button [matMenuTriggerFor]="menu" *ngIf="user">
      {{user.username}}
    </button>
    <mat-menu class="header__menu-block" #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item (click)="signOut()">Sign out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>