<footer class="footer">
  <div class="footer__founder-block">
    <a href="http://www.novsu.ru/">
      <img class="footer__founder-logo" src="../../assets/novsu-logo-full.png" alt="NovSU logo">
    </a>
    <div>
      <h3>
        Founder, Publisher:
      </h3>
      <p>Address:<br>173003, Russia, Veliky Novgorod, Bolshaya Sankt-Peterburgskaya Street, 41.<br>Phone: +7 8162
        62-72-44<br>Fax: +7 8162 97-45-26</p>
    </div>
  </div>

  <div class="footer__editorial-office-block">
    <div>
      <h3>Editorial office:</h3>
      <p>
        Address:<br>173003, Russia, Veliky Novgorod, Bolshaya Sankt-Peterburgskaya Street, 41, aud. 1216.<br>Phone: +7
        816 233-88-30, +7 903 913-19-91<br>E-mail: vistheo@yandex.ru
      </p>
    </div>
  </div>
</footer>