<h2>Submissions for editing</h2>

<div class="profile__submission-block">
  <mat-card class="profile__submission-container" *ngFor="let submission of submissionsForEditing">

    <mat-card-header class="profile__submission-header">
      <mat-card-title class="profile__submission-title">Submission #{{submission.number}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="profile__submission-content">

      <p>
        <span class="profile__submission-name bold-text">Manuscript</span>
        <span>
          {{submission.manuscript}}
          <mat-icon class="profile__submission-download" svgIcon="download" title="Download"
            (click)="downloadSubmissionFile({ submission: submission.number, name: submission.manuscript})">
          </mat-icon>
        </span>
      </p>
      <p>
        <span class="profile__submission-name bold-text">Information about the author(-s)</span>
        <span>
          {{submission.about}}
          <mat-icon class="profile__submission-download" svgIcon="download"
            (click)="downloadSubmissionFile({ submission: submission.number, name: submission.about})">
          </mat-icon>
        </span>
      </p>
      <p>
        <span class="profile__submission-name bold-text">Publication agreement</span>
        <span>
          {{submission.agreement}}
          <mat-icon class="profile__submission-download" svgIcon="download"
            (click)="downloadSubmissionFile({ submission: submission.number, name: submission.agreement})">
          </mat-icon>
        </span>
      </p>
      <p>
        <span class="profile__submission-name bold-text">Anonymous file for double-blind peer review</span>
        <span>
          {{submission.anonymous}}
          <mat-icon class="profile__submission-download" svgIcon="download"
            (click)="downloadSubmissionFile({ submission: submission.number, name: submission.anonymous})">
          </mat-icon>
        </span>
      </p>

    </mat-card-content>

    <mat-card-actions class="profile__submission-actions">
      <button class="{{submission.status === 'scheduled' ? 'profile__scheduled-button' : ''}}" mat-flat-button
        color="primary" (click)="scheduleSubmission(submission.id, submission.status === 'scheduled' ? true : false)">
        <span class="profile__scheduled-button-content" *ngIf="submission.status === 'scheduled'">
          <mat-icon class="profile__scheduled-icon" svgIcon="tick"></mat-icon>
          <span>Scheduled</span>
        </span>
        <span *ngIf="submission.status === 'accepted'">
          Schedule for the next issue
        </span>
      </button>
    </mat-card-actions>

  </mat-card>

  <p *ngIf="!submissionsForEditing">
    There's no submissions for now
  </p>
</div>