@import "../../constants.scss";

.publish__header {
  justify-content: center;
  margin-bottom: 25px;

  .publish__title {
    font-size: 2em;
  }
}

.publish__form-field {
  width: 100%;
  margin: 5px 0;

  & > * {
    margin: 0 5px;
  }

  :first-child {
    margin-left: 0;
  }

  :last-child {
    margin-right: 0;
  }
}

.publish__flex-form-field {
  display: flex;

  * {
    flex-grow: 1;
  }
}

.publish__submit-button {
  display: block;
  margin: 0 auto;
}
