<app-feature-block>

  <app-card>

    <mat-card-header class="publish__header">
      <mat-card-title class="publish__title">Publish</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formGroup" (ngSubmit)="formGroup.valid && submitPublishForm()">

      <mat-card-content>

        <div class="publish__form-field publish__flex-form-field">
          <mat-form-field appearance="outline">
            <mat-label>No</mat-label>
            <input matInput formControlName="numberControl" />
            <mat-error *ngIf="formGroup.controls.numberControl.hasError('required')">
              No is required
            </mat-error>
            <mat-error *ngIf="formGroup.controls.numberControl.hasError('pattern')">
              No must be a number
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Year</mat-label>
            <input matInput formControlName="yearControl" />
            <mat-error *ngIf="formGroup.controls.yearControl.hasError('required')">
              Year is required
            </mat-error>
            <mat-error *ngIf="formGroup.controls.yearControl.hasError('pattern')">
              Year must be a number
            </mat-error>
            <mat-error *ngIf="formGroup.controls.yearControl.hasError('min')">
              You can't publish issues dated earlier than 1900
            </mat-error>
            <mat-error *ngIf="formGroup.controls.yearControl.hasError('max')">
              You can't publish future issues
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="publish__form-field" appearance="fill">
          <mat-label>Cover</mat-label>
          <ngx-mat-file-input [accept]="'.png,.jpg,.jpeg'" formControlName="coverControl"></ngx-mat-file-input>
          <mat-icon class="submission__attach-icon" matSuffix svgIcon="attach" aria-hidden="false"></mat-icon>
        </mat-form-field>

        <div formArrayName="titleControl">
          <div class="publish__form-field" *ngFor="let submission of submissionsForPublishing; let i = index">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput [formControlName]="i" />
            </mat-form-field>
            <span>
              <span>by </span>
              <span class="bold-text">{{authors[submission.id]?.username}} </span>
              <span>(submission <span class="bold-text">#{{submission.number}}</span>) </span>
            </span>
          </div>
        </div>

        <mat-error *ngIf="formGroup.controls.titleControl.touched && formGroup.controls.titleControl.invalid">
          All titles are required
        </mat-error>

        <mat-error *ngIf="!submissionsForPublishing.length">
          You can't publish an empty issue. Please schedule some submissions for publishing.
        </mat-error>

      </mat-card-content>

      <button class="publish__submit-button" mat-stroked-button color="primary" type="submit"
        [disabled]="!submissionsForPublishing.length">Publish</button>

    </form>

  </app-card>

</app-feature-block>