@import "../../../constants.scss";

.header__row {
  padding: 0 $padding-side;

  .header__link,
  .header__auth-link {
    text-decoration: none;
    color: white;
    font-size: 0.75em;
    padding: 0 15px;
    line-height: $height-header;
  }
}
