@import "../../constants.scss";

.header__row {
  padding: 0 64px;

  a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    padding: 0 25px;
    line-height: $height-header;
  }

  a:hover {
    background-color: rgba($color: white, $alpha: 0.1);
  }
}
