@import "../../constants.scss";

.header__row {
  padding: 0 50px;

  .header__link,
  .header__auth-link {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    padding: 0 25px;
    line-height: $height-header;
  }
}
