<app-feature-block>

  <div class="profile__title">

    <div class="profile__image" [style.background-image]="'url(' + image + ')'">
      <input hidden id="edit" type="file" accept=".png,.jpg,.jpeg" (change)="uploadImage($event.target.files[0])" />
      <label for="edit">
        <mat-icon class="profile__image-button" svgIcon="edit"></mat-icon>
      </label>
      <mat-icon class="profile__image-button" svgIcon="delete" (click)="deleteImage()"></mat-icon>
    </div>

    <h1 class="profile__title-name">{{user?.username}}</h1>

  </div>

  <h2>My submissions</h2>

  <div class="profile__submission-block">
    <mat-card class="profile__submission-container" *ngFor="let submission of submissions">

      <mat-card-header class="profile__submission-header">
        <mat-card-title class="profile__submission-title">Submission #{{submission.number}}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="profile__submission-content">

        <p>
          <span class="profile__submission-name bold-text">Manuscript</span>
          <span>
            {{submission.manuscript}}
            <mat-icon class="profile__submission-download" svgIcon="download"
              (click)="downloadSubmissionFile({ submission: submission.number, name: submission.manuscript})">
            </mat-icon>
          </span>
        </p>
        <p>
          <span class="profile__submission-name bold-text">Information about the author(-s)</span>
          <span>
            {{submission.about}}
            <mat-icon class="profile__submission-download" svgIcon="download"
              (click)="downloadSubmissionFile({ submission: submission.number, name: submission.about})">
            </mat-icon>
          </span>
        </p>
        <p>
          <span class="profile__submission-name bold-text">Publication agreement</span>
          <span>
            {{submission.agreement}}
            <mat-icon class="profile__submission-download" svgIcon="download"
              (click)="downloadSubmissionFile({ submission: submission.number, name: submission.agreement})">
            </mat-icon>
          </span>
        </p>
        <p>
          <span class="profile__submission-name bold-text">Anonymous file for double-blind peer review</span>
          <span>
            {{submission.anonymous}}
            <mat-icon class="profile__submission-download" svgIcon="download"
              (click)="downloadSubmissionFile({ submission: submission.number, name: submission.anonymous})">
            </mat-icon>
          </span>
        </p>

        <hr class="profile__submission-divider">

        <p>
          <span class="profile__submission-name bold-text">Status</span>
          <span>{{submission.status}}</span>
        </p>

      </mat-card-content>

    </mat-card>

    <p *ngIf="!submissions">
      There's no submissions for now
    </p>
  </div>

  <h2 *ngIf="user.role === 'reviewer'">Submissions for review</h2>

  <div class="profile__submission-block" *ngIf="user.role === 'reviewer'">
    <mat-card class="profile__submission-container" *ngFor="let submission of submissionsForReview">

      <mat-card-header class="profile__submission-header">
        <mat-card-title class="profile__submission-title">Submission #{{submission.number}}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="profile__submission-content">

        <p>
          <span class="profile__submission-name bold-text">Anonymous file for double-blind peer review</span>
          <span>
            {{submission.anonymous}}
            <mat-icon class="profile__submission-download" svgIcon="download"
              (click)="downloadSubmissionFile({ submission: submission.number, name: submission.anonymous})">
            </mat-icon>
          </span>
        </p>

        <hr class="profile__submission-divider">

        <p>
          <span class="profile__submission-name bold-text">Status</span>
          <span>{{submission.status}}</span>
        </p>

      </mat-card-content>

      <mat-card-actions class="profile__submission-actions">
        <button mat-flat-button color="primary" (click)="reviewSubmission(submission.id, 'accepted')"
          [disabled]="submission.status !== 'under consideration'">Accept</button>
        <button mat-stroked-button color="warn" (click)="reviewSubmission(submission.id, 'rejected')"
          [disabled]="submission.status !== 'under consideration'">Reject</button>
      </mat-card-actions>

    </mat-card>

    <p *ngIf="!submissionsForReview">
      There's no submissions for now
    </p>
  </div>

  <h2 *ngIf="user.role === 'editor'">Submissions for editing</h2>

  <div class="profile__submission-block" *ngIf="user.role === 'editor'">
    <mat-card class="profile__submission-container" *ngFor="let submission of submissionsForEditing">

      <mat-card-header class="profile__submission-header">
        <mat-card-title class="profile__submission-title">Submission #{{submission.number}}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="profile__submission-content">

        <p>
          <span class="profile__submission-name bold-text">Manuscript</span>
          <span>
            {{submission.manuscript}}
            <mat-icon class="profile__submission-download" svgIcon="download"
              (click)="downloadSubmissionFile({ submission: submission.number, name: submission.manuscript})">
            </mat-icon>
          </span>
        </p>
        <p>
          <span class="profile__submission-name bold-text">Information about the author(-s)</span>
          <span>
            {{submission.about}}
            <mat-icon class="profile__submission-download" svgIcon="download"
              (click)="downloadSubmissionFile({ submission: submission.number, name: submission.about})">
            </mat-icon>
          </span>
        </p>
        <p>
          <span class="profile__submission-name bold-text">Publication agreement</span>
          <span>
            {{submission.agreement}}
            <mat-icon class="profile__submission-download" svgIcon="download"
              (click)="downloadSubmissionFile({ submission: submission.number, name: submission.agreement})">
            </mat-icon>
          </span>
        </p>
        <p>
          <span class="profile__submission-name bold-text">Anonymous file for double-blind peer review</span>
          <span>
            {{submission.anonymous}}
            <mat-icon class="profile__submission-download" svgIcon="download"
              (click)="downloadSubmissionFile({ submission: submission.number, name: submission.anonymous})">
            </mat-icon>
          </span>
        </p>

      </mat-card-content>

      <mat-card-actions class="profile__submission-actions">
        <button class="{{submission.status === 'scheduled' ? 'profile__scheduled-button' : ''}}" mat-flat-button
          color="primary" (click)="scheduleSubmission(submission.id, submission.status === 'scheduled' ? true : false)">
          <span class="profile__scheduled-button-content" *ngIf="submission.status === 'scheduled'">
            <mat-icon class="profile__scheduled-icon" svgIcon="tick"></mat-icon>
            <span>Scheduled</span>
          </span>
          <span *ngIf="submission.status === 'accepted'">
            Schedule for the next issue
          </span>
        </button>
      </mat-card-actions>

    </mat-card>

    <p *ngIf="!submissionsForEditing">
      There's no submissions for now
    </p>
  </div>

  <div>
    <button class="profile__action-button" mat-flat-button color="primary" routerLink="/submission">Make a
      submission</button>
    <button class="profile__action-button" mat-flat-button color="primary" routerLink="/publish"
      *ngIf="user && user.role === 'editor'">Publish the next issue</button>
    <button class="profile__action-button" mat-flat-button color="primary" routerLink="/sign-up"
      *ngIf="user && user.role === 'admin'">Add user</button>
    <button class="profile__action-button" mat-flat-button color="warn" (click)="openDialog()">Delete my
      account</button>
  </div>

</app-feature-block>