<app-feature-block>

  <app-profile-title></app-profile-title>
  <app-profile-my-submissions></app-profile-my-submissions>
  <app-profile-submissions-for-review *ngIf="user?.role === 'reviewer'"></app-profile-submissions-for-review>
  <app-profile-submissions-for-editing *ngIf="user?.role === 'editor'"></app-profile-submissions-for-editing>

  <div>
    <button class="profile__action-button" mat-flat-button color="primary" routerLink="/submission">Make a
      submission</button>
    <button class="profile__action-button" mat-flat-button color="primary" routerLink="/publish"
      *ngIf="user?.role === 'editor'">Publish the next issue</button>
    <button class="profile__action-button" mat-flat-button color="primary" routerLink="/sign-up"
      *ngIf="user?.role === 'admin'">Add user</button>
    <button class="profile__action-button" mat-flat-button color="warn" (click)="openDialog()">Delete my
      account</button>
  </div>

</app-feature-block>