<app-feature-block>

  <div class="submission__order">
    <h1>Order of submissions</h1>
    <p>Materials for publication in the journal are accepted in electronic format via the form below. The editorial
      board fulfills the correspondence only with the author(-s) of the submitted material. Publication in "Visual
      Theology" is free of charge for all the authors. The journal doesn't have any Article Processing Charges (APC) and
      any Article Submission Charges (ASC). Authors of publications are not paid any remuneration.</p>
    <p class="bold-text">Terms of Submission:</p>
    <ul>
      <li>the manuscript corresponds to the subject of the journal;</li>
      <li>the manuscript has not been published before (multifold and repeated publication is not allowed);</li>
      <li>the manuscript is not considered for publication in another journal or publisher at the same time;</li>
      <li>the decision to publish is made by all authors (in case of co-authorship);</li>
      <li>the text is the work of authorship, meets the criteria of scientific novelty and academic quality;</li>
      <li>the work is designed in accordance with the "Requirements for manuscripts".</li>
    </ul>
    <p class="bold-text">The author presents to the editorial office separate files:</p>
    <ul>
      <li>the manuscript drawn up according to the Requirements;</li>
      <li>information about the author(-s) in Russian and English with the following data: surname, name, patronymic (in
        full); academic degree, academic title; position and place of work / study without abbreviations; e-mail
        address; contact phone number;</li>
      <li>the completed form of the publication agreement signed by the author (in case of co-authorship, each of the
        authors signs a separate form); signing the agreement form, the author thereby permits the open publication of
        his materials, as well as their editing, which does not distort the meaning of the work;</li>
      <li>anonymous file for double-blind peer review (in the text it is required to remove all information about the
        author and the organization in which he works).</li>
    </ul>
    <p class="bold-text">The listed files must be named in the Latin script:</p>
    <ul>
      <li>the manuscript: Surname of author_text.doc (Petrov_text.doc), in the case of co-authorship, the name of the
        first author.</li>
      <li>information about the author(-s): Surname of author_author.doc (Petrov_author.doc).</li>
      <li>the form of the publication agreement: Surname of author_agreement.doc (Petrov_agreement.doc).</li>
      <li>anonymous file: the first word of the title of the work in Latin transcription (e.g. Problema.doc).</li>
    </ul>
    <p>All received materials are <span class="bold-text">checked for plagiarism</span>. If plagiarism is detected, the
      material is rejected without the right to re-submit, and the author himself is included in the list of researchers
      whose materials are not subject to publication in the journal.</p>
    <p><span class="bold-text">The order of publication</span> of materials is determined by the date of their admission
      to the journal. Works devoted to particularly topical issues, as well as containing fundamentally new information,
      can be published out of order by the decision of the editorial board.</p>
    <p>The editorial board does not enter into a meaningful discussion with the authors about articles and opinions of
      reviewers, doesn’t correspond on the methods of writing and design of works and is not engaged in bringing the
      articles to the required research and methodological level.</p>
  </div>

  <app-card>

    <app-card-header>
      <app-card-title>Make a submission</app-card-title>
    </app-card-header>

    <form [formGroup]="formGroup"
      (ngSubmit)="formGroup.valid && submitSubmissionForm(manuscript.value.files[0], about.value.files[0], agreement.value.files[0], anonymous.value.files[0])">
      <mat-card-content>
        <mat-form-field class="submission__form-field" appearance="fill">
          <mat-label>Manuscript</mat-label>
          <ngx-mat-file-input #manuscript [accept]="'.doc'" formControlName="manuscriptControl"></ngx-mat-file-input>
          <mat-icon class="submission__attach-icon" matSuffix svgIcon="attach" aria-hidden="false"></mat-icon>
          <mat-error *ngIf="formGroup.controls.manuscriptControl.hasError('required')">
            Manuscript is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="submission__form-field" appearance="fill">
          <mat-label>Information about the author(-s)</mat-label>
          <ngx-mat-file-input #about [accept]="'.doc'" formControlName="aboutControl"></ngx-mat-file-input>
          <mat-icon class="submission__attach-icon" matSuffix svgIcon="attach" aria-hidden="false"></mat-icon>
          <mat-error *ngIf="formGroup.controls.aboutControl.hasError('required')">
            Information about the author(-s) is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="submission__form-field" appearance="fill">
          <mat-label>Publication agreement</mat-label>
          <ngx-mat-file-input #agreement [accept]="'.doc'" formControlName="agreementControl"></ngx-mat-file-input>
          <mat-icon class="submission__attach-icon" matSuffix svgIcon="attach" aria-hidden="false"></mat-icon>
          <mat-error *ngIf="formGroup.controls.agreementControl.hasError('required')">
            Publication agreement is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="submission__form-field" appearance="fill">
          <mat-label>Anonymous file for double-blind peer review</mat-label>
          <ngx-mat-file-input #anonymous [accept]="'.doc'" formControlName="anonymousControl"></ngx-mat-file-input>
          <mat-icon class="submission__attach-icon" matSuffix svgIcon="attach" aria-hidden="false"></mat-icon>
          <mat-error *ngIf="formGroup.controls.anonymousControl.hasError('required')">
            Anonymous file for double-blind peer review is required
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button class="submission__submit-button" color="primary" type="submit">
        Make a submission
      </button>
    </form>

  </app-card>

</app-feature-block>