.submission__order {
  margin-bottom: 50px;
}

.submission__form-field {
  width: 100%;
  margin: 5px 0;

  .submission__attach-icon {
    cursor: pointer;
  }
}

.submission__submit-button {
  display: block;
  margin: 0 auto;
}
