.sign-up {
  margin: 0 auto;
}

.log-in {
  margin: 0 auto;
}

.header {
  margin-bottom: 50px;
}

.sub-title {
  font-weight: 600;
  font-size: 1.75em;
}

.bold-text {
  font-weight: 600;
}

.italic-text {
  font-style: italic;
}

h3.bold-text {
  font-weight: 600;
}
