<app-feature-block>

  <app-card>

    <mat-card-header class="sign-up__header">
      <mat-card-title class="sign-up__title">Sign up</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formGroup" (ngSubmit)="formGroup.valid && submitSignUpForm()">

      <mat-card-content>
        <mat-form-field class="sign-up__form-field" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="usernameControl" name="username" />
          <mat-error *ngIf="formGroup.controls.usernameControl.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>

        <fieldset class="sign-up__form-group" formGroupName="passwordGroup">
          <mat-form-field class="sign-up__form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="passwordControl" name="password"
              [type]="passwordIsHidden ? 'password' : 'text'" />
            <button mat-icon-button matSuffix type="button" (click)="switchPasswordHiding()">
              <mat-icon>
                {{ passwordIsHidden ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
            <mat-error *ngIf="
                passwordGroup.controls.passwordControl.hasError('required')
              ">
              Password is required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="sign-up__form-field" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPasswordControl" name="confirmPassword"
              [type]="confirmPasswordIsHidden ? 'password' : 'text'" />
            <button mat-icon-button matSuffix type="button" (click)="switchConfirmPasswordHiding()">
              <mat-icon>
                {{ passwordIsHidden ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
            <mat-error *ngIf="
                passwordGroup.controls.confirmPasswordControl.hasError(
                  'required'
                )
              ">
              Password confirmation is required
            </mat-error>
          </mat-form-field>

          <mat-error *ngIf="passwordGroup.hasError('notEqual')">
            Passwords must be equal
          </mat-error>

          <p class="sign-up__used-username-message" *ngIf="usernameIsUsed">
            Username is already in use
          </p>
        </fieldset>

        <mat-form-field class="sign-up__form-field" appearance="outline" *ngIf="user && user.role === 'admin'">
          <mat-label>Role</mat-label>
          <mat-select formControlName="roleControl">
            <mat-option value="user">User</mat-option>
            <mat-option value="reviewer">Reviewer</mat-option>
            <mat-option value="editor">Editor</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls.roleControl.hasError('notEqual')">
            Passwords must be equal
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button class="sign-up__submit-button" color="primary" type="submit">
        Sign up
      </button>

    </form>

  </app-card>

  <div class="sign-up__log-in-container">
    <span class="sign-up__log-in-message">Already have an account?</span>
    <a class="sign-up__log-in-link" routerLink="/log-in">Log in</a>
  </div>

</app-feature-block>