<div class="profile">
  <h1>{{user?.username}}</h1>
  <h2>Submissions</h2>
  <div class="profile__submission-block">
    <mat-card class="profile__submission-container" *ngFor="let submission of submissions; let i = index">
      <mat-card-header class="profile__submission-header">
        <mat-card-title class="profile__submission-title">Submission #{{i + 1}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="profile__submission-content">
        <p *ngFor="let file of submission.files">
          {{file}}
          <mat-icon class="profile__submission-download" svgIcon="download" aria-hidden="false"
            (click)="download({ submission: submission.number, name: file})">
          </mat-icon>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>