<mat-card class="container">
  <mat-card-header class="header">
    <mat-card-title class="title">Sign up</mat-card-title>
  </mat-card-header>

  <form
    class="form"
    (ngSubmit)="submitLogInForm(username.value, password.value)"
  >
    <mat-card-content>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Username</mat-label>
        <input #username matInput name="username" />
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          #password
          matInput
          name="password"
          [type]="passwordIsHidden ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="switchPasswordHiding()"
        >
          <mat-icon>
            {{ passwordIsHidden ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <button
      mat-stroked-button
      class="sign-up-button"
      color="primary"
      type="submit"
    >
      Sign up
    </button>
  </form>
</mat-card>
