<div class="home">
  <article>
    <h1>Dear colleagues!</h1>
    <p>
      <span class="bold-text italic-text">Journal of Visual Theology</span> provides a forum for the expression of
      independent and critical reflection on matters of current academic interest in iconology, hierotopy, ars sacra and
      religious imagery, as well as on visual aspects of the beliefs, practices and theological discourse of past and
      present.
    </p>
    <p>
      The journal was founded in 2019 by Yaroslav-the-Wise Novgorod State University and registered with the Federal
      Service for the Supervision of Communications, Information Technology, and Mass Media, The mass media registration
      certificate ПИ № ФС 77 - 75774 от 23.05.2019.
    </p>
    <p>
      <span class="bold-text">Publication frequency</span> - 2 issues per year.
    </p>
    <p>
      Materials on the following <span class="bold-text">topics</span> are accepted for publication in the journal (this
      list is not exhaustive and can be expanded):
    </p>
    <ul>
      <li>visual aspects of religious faith and theological doctrine</li>
      <li>Christian theology and religious philosophy of image</li>
      <li>theory of sign and sign communication in religion</li>
      <li>semiotics of sacred space (semantics, syntax, pragmatics), construction of sacred spaces (hierotopy)</li>
      <li>symbolism, semiotics and hermeneutics of religious practices: liturgy, ascetics, mysticism, sacramentology
      </li>
      <li>visual (non-verbal) languages of religious experience</li>
      <li>visual aspects of religious consciousness</li>
      <li>visual axiology of Christianity: analysis of the experience of the visual expression of norms and values in
        religious culture, of visual environment as a sphere of normative theological didactics, of the visual field of
        religious practice as a communicative axiology</li>
      <li>visual anthropology of Christianity, including the confessional, cultural and philosophical aspects of the
        presentation of religious identity</li>
      <li>visual theology and the humanities (aesthetics, history, archaeology, cultural studies, philology, geography,
        ethnology, sociology, ethics, art studies)</li>
      <li>semiotics and the aesthetics of the icon</li>
      <li>semiotics and the aesthetics of temple architecture</li>
      <li>sacred topography</li>
      <li>forms of visualization of religious morality</li>
      <li>methods and principles of the illustration of theological text</li>
      <li>visual metaphor and ekphrasis in religious text</li>
      <li>theatrical and cinematic forms of presentation of Christianity</li>
      <li>visual semiotics of religious holidays</li>
      <li>visual theology of everyday life</li>
      <li>theological hermeneutics of lived environment</li>
      <li>sacred urban studies</li>
      <li>methods of theological interpretation of the world as a work of art and visual text</li>
      <li>figurative techniques in verbal theological discourse</li>
      <li>theology of the verbal image</li>
      <li>semiotic analysis of religious imagery on coats of arms, seals, emblems, military banners, and banknotes</li>
      <li>visual aspects of religious pedagogy</li>
    </ul>
    <p>
      The journal accepts materials written in the following <span class="bold-text">formats</span>: article, article
      translations, essay, interview, research report, review, bibliographic review, scientific event report. It is also
      possible to publish materials presented in other formats.
    </p>
    <p>
      The journal <span class="bold-text">languages</span> are Russian, English, German and French.
    </p>
    <p>
      All materials are double-blind peer-reviewed.
    </p>
    <p>
      All articles of the journal are assigned <span class="bold-text">DOI</span>s (Digital Object Identifiers), which
      greatly facilitates the processes of citation, searching and the localization of scientific publications.
    </p>
    <p>
      The <span class="italic-text">Journal of Visual Theology</span> is <span class="bold-text">indexed</span> in the
      Russian Science Citation Index (RSCI), EBSCO and Ulrich’s Periodicals Directory. In addition, issues of the
      journal are available in Academia.edu and CyberLeninka.ru.
    </p>
  </article>
</div>